
@{
    ViewBag.Title = "Заказ товара";
}

@Html.Partial("_Navbar")
<div class="panel-header panel-header-sm">
</div>


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Аптека #10</h4>
                    <small>г. Новороссийск, пр. Дзержинского 196</small>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>
                                    Наименование
                                </th>
                                <th>
                                    Изготовитель
                                </th>
                                <th class="text-center">
                                    Цена, руб.
                                </th>
                                <th class="text-center">
                                    Код
                                </th>
                                <th class="text-center">
                                    На складе
                                </th>
                                 <th class="text-center">
                                    Рейтинг
                                </th>
                                <th class="text-right">
                                    На заказ, шт.
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Адвантан, мазь, 0.1, 50г
                                    </td>
                                    <td>
                                        Интендис
                                    </td>
                                    <td class="text-center">
                                        1057,44₽ (0%)
                                    </td>
                                    <td class="text-center">
                                        400793
                                    </td>
                                    <td class="text-center">
                                        9
                                    </td>
                                    <td class="text-center">
                                        1 / 5
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control" value="5" style="text-align: right; border: 1px solid #06060661;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Адвантан, эмульс, 0.1, 20г
                                    </td>
                                    <td>
                                        Интендис
                                    </td>
                                    <td class="text-center">
                                        477,46₽ (3,1 %)
                                    </td>
                                    <td class="text-center">
                                        396854
                                    </td>
                                    <td class="text-center">
                                        13
                                    </td>
                                    <td class="text-center">
                                        2 / 4
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control" value="" style="text-align: right;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Адепресс, т.п.о., 20мг, №30
                                    </td>
                                    <td>
                                        Верофарм
                                    </td>
                                    <td class="text-center">
                                        430,34₽ (0 %)
                                    </td>
                                    <td class="text-center">
                                        422044
                                    </td>
                                    <td class="text-center">
                                        118
                                    </td>
                                    <td class="text-center">
                                        1 / 10
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control" value="50" style="text-align: right; border: 1px solid #06060661;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Аджисепт, т. д/расс, 20мг, №24
                                    </td>
                                    <td>
                                        Аджио
                                    </td>
                                    <td class="text-center">
                                        82,97₽ (1,5 %)
                                    </td>
                                    <td class="text-center">
                                        347768
                                    </td>
                                    <td class="text-center">
                                        72
                                    </td>
                                    <td class="text-center">
                                        2 / 6
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control" value="" style="text-align: right;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Адонис-бром, т.п.о., №20
                                    </td>
                                    <td>
                                        Борисовский завод
                                    </td>
                                    <td class="text-center">
                                        62,99₽ (4 %)
                                    </td>
                                    <td class="text-center">
                                        407653
                                    </td>
                                    <td class="text-center">
                                        189
                                    </td>
                                    <td class="text-center">
                                        3 / 4
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control" value="" style="text-align: right;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Адрианол, капли, 20мл
                                    </td>
                                    <td>
                                        Здравле
                                    </td>
                                    <td class="text-center">
                                        130,01₽ (0,5 %)
                                    </td>
                                    <td class="text-center">
                                        409222
                                    </td>
                                    <td class="text-center">
                                        107
                                    </td>
                                    <td class="text-center">
                                        2 / 7
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control" value="" style="text-align: right;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Адрианол, капли, 10мл
                                    </td>
                                    <td>
                                        Здравле
                                    </td>
                                    <td class="text-center">
                                        88,03₽ (0 %)
                                    </td>
                                    <td class="text-center">
                                        398645
                                    </td>
                                    <td class="text-center">
                                        12
                                    </td>
                                    <td class="text-center">
                                        1 / 4
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control" value="3" style="text-align: right; border: 1px solid #06060661;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <a href="#" target="_blank" class="btn btn-info btn-block btn-round">Сформировать накладную</a>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Sun Pharmaceutical Industries Ltd.
        </div>
    </div>
</footer>

@section Scripts {
    <script>
        $(function () {
            $(".active").removeClass("active");
            $("#addOrder").addClass("active");
        });
    </script>
}