
@{
    ViewBag.Title = "Выбор поставщика";
}

@Html.Partial("_Navbar")
<div class="panel-header panel-header-sm">
</div>

<div class="content" style="padding-top: 40px;">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image" style="background: url(/Content/img/horses.gif); background-size:cover;background-position-y: -5px;">
                    @*<img src="~/Content/img/horses.gif" alt="...">*@
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            @*<img class="avatar border-gray" src="../assets/img//mike.jpg" alt="...">
                                <h5 class="title">Mike Andrew</h5>*@
                        </a>
                        <p class="description">
                            @*michael24*@
                        </p>
                    </div>
                    <p class="description text-center">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-center" style="padding-top: 53px; font-weight: bold;">
                                        Выбрать
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" checked="">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </td>
                            </tbody>
                        </table>
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-google-plus-g"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">ООО "Русская тройка"</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Адрес</label>
                                    <div>
                                        350080, Россия, Краснодарский край, г. Краснодар, ул. Уральская 113
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Телефон</label>
                                    <div>
                                        +7 (861) 279-08-23
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Электронная почта</label>
                                    <div>
                                        info@r-troyka.ru
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Прайс-лист</label>
                                    <div>
                                        <a href="#"><i class="now-ui-icons arrows-1_cloud-download-93"></i> Скачать</a>
                                        &nbsp;
                                        <a href="#"><i class="now-ui-icons arrows-1_cloud-upload-94"></i> Загрузить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image" style="background: url(/Content/img/pharmservice.jpg); background-size:cover;background-position-y: -205px;">
                    @*<img src="~/Content/img/horses.gif" alt="...">*@
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            @*<img class="avatar border-gray" src="../assets/img//mike.jpg" alt="...">
                                <h5 class="title">Mike Andrew</h5>*@
                        </a>
                        <p class="description">
                            @*michael24*@
                        </p>
                    </div>
                    <p class="description text-center">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-center" style="padding-top: 53px; font-weight: bold;">
                                        Выбрать
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </td>
                            </tbody>
                        </table>
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-google-plus-g"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">ООО "Фармсервис"</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Адрес</label>
                                    <div>
                                        350018, Россия, Краснодарский край, г. Краснодар, ул. Сормовская 7
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Телефон</label>
                                    <div>
                                        +7 (989) 290-00-00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Электронная почта</label>
                                    <div>
                                        info@phsv.ru
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Прайс-лист</label>
                                    <div>
                                        <a href="#"><i class="now-ui-icons arrows-1_cloud-download-93"></i> Скачать</a>
                                        &nbsp;
                                        <a href="#"><i class="now-ui-icons arrows-1_cloud-upload-94"></i> Загрузить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <a href="#" target="_blank" class="btn btn-info btn-block btn-round">Сохранить</a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Sun Pharmaceutical Industries Ltd.
        </div>
    </div>
</footer>


@section Scripts {
    <script>
        $(function () {
            $(".active").removeClass("active");
            $("#selectSupplier").addClass("active");
        });
    </script>
}